.especie {
    text-align: center;
    padding: 32px;
    background-color: #b9ead3;
}

.especie h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.especie .pets {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    flex-wrap: wrap;
}