.buttonComponent {
    background-color: #9283ED;
    border-radius: 1em;
    font-weight: 700;
    font-size: 1em;
    padding: 1em;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin: 1em 0;
}

.buttonComponent:hover {
    background-color:#68689a;
    color:rgb(255, 255, 255)
}