.input-file {
    margin: 1em 0;   
   }

.input-file label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1em;
}

.filetype {
    border-radius: 1em;
    padding: 1em;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
