.campo-texto {
 margin: 1em 0;   
}

.campo-texto label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1em;
}

.campo-texto input {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.15);
    width: 100%;
    border: none;
    font-size: 1em;
    padding: 1em;
    box-sizing: border-box;
}

input:focus {
    color:  #06abf7;
    outline: none;      /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px #06abf7; 
}
